html {
  font-size: $font-min;

  @include breakpoint($container-min) {
    @include fluid-type;
  }

  @include breakpoint($container-max) {
    font-size: $font-max;
  }
}

body {
  font-family: $font-main;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 200;
}

h3 {
  font-size: 1rem;
}

ul,
ol {
  padding: 0;
  margin: 1rem;

  li {
    margin-bottom: 0.5rem;
  }
}

a {
  color: $clr-accent;
  // font-family: $font-contrast;
  font-weight: bold;

  &:hover {
    color: lighten($clr-accent, 10%);
  }
}

button {
  background-color: transparent;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $breakpoint-lrg;
  margin: 0 auto;
  padding: 1rem;
}

.reading {
  max-width: $breakpoint-med;
  margin: 0 auto;
}

.chunk {
  padding: 0.5rem;
}

.page-header {
  background-color: $clr-bg;
  @include border-bottom;

  h1 {
    margin: 0;
  }

  #filter-search {
    @include flex;
    border-radius: 10rem;
    background-color: white;
    border: 1px solid $clr-primary;
    padding: 0 0.5rem;
    margin: 0;

    input {
      border: 0;
      border-radius: 10rem;
      margin-right: 0.5rem;
      padding: 0.5rem;
      flex-grow: 1;

      @include small {
        max-width: 100%;
      }

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        font-size: 0.9rem;
      }
    }

    button {
      width: 1.5rem;
      font-size: 1.5rem;
    }
  }
}

ol.posts-grid {
  display: grid;
  grid-gap: 1rem;
  margin: 0;
  list-style: none;

  @include breakpoint($breakpoint-small) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  li.posts-grid-item {
    max-width: 300px;

    @include small {
      max-width: 100%;
    }

    margin: 0 auto;
    background-color: $clr-bg;
    border: 1px solid $clr-border;

    a {
      color: $clr-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0;
      line-height: 1.2;
      font-size: 1rem;
    }
  }
}
