#site-header {
  border-bottom: 1px dashed $clr-primary;

  .container {
    @include flex;
    justify-content: center;

    a#site-logo {
      @include flex;
      font-family: $font-main;
      margin: 0;
      line-height: 0;
      text-decoration: none;
      color: $clr-primary;

      svg {
        width: 5rem;
        height: auto;
        fill: $clr-primary;
        margin-right: 1rem;
      }

      span {
        font-size: 2.5rem;
        font-weight: 200;
      }
    }
  }
}
