#home {
  ol.posts-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0;
    list-style: none;

    li.posts-grid-item {
      max-width: 300px;
      margin: 0 auto;
      background-color: $clr-bg;
      border: 1px solid $clr-border;

      a {
        color: $clr-primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      h2 {
        margin: 0;
        line-height: 1.2;
        font-size: 1rem;
      }
    }
  }
}
