#site-main {
  .reading {
    max-width: $breakpoint-med;
    margin: 0 auto;
  }

  .page-header {
    background-color: $clr-bg;
    @include border-bottom;

    h1 {
      margin: 0;
    }
  }

  .post-meta {
    @include flex;

    .tags {
      .tag {
        border: 1px solid $clr-border;
        border-radius: 1rem;
        margin-right: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
      }
    }
  }

  .post-image {
    margin: 0;
  }
}
