// fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
$font-main: "Source Serif Pro", serif;
// $font-contrast: "Source Sans Pro", sans-serif;
$font-min: 16px;
$font-max: 20px;

// colours
$clr-primary: black;
$clr-accent: hsl(222, 100%, 40%);
$clr-bg: hsl(0deg 0% 98%);
$clr-border: hsl(0deg 0% 80%);

// breakpoints
$breakpoint-small: 350px;
$breakpoint-med: 700px;
$breakpoint-lrg: 1200px;

$container-min: $breakpoint-small;
$container-max: $breakpoint-lrg;
